@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 style="color: grey;">Privacy Policy</h1>

<div style="height: 50px;"></div>
<div>
    <div style="color: grey; font-size: 30px;">
        Social Statement
    </div>
    <div class="card-body">
        <p class="card-text" style="color: grey;">
            Project is intended to be used as a collaborative hub, in which people can submit theirown data to be used as part of visualization queries of AQI at specified places and time ranges.
            Project is intended to make visualizations of local AQI data freely available to thecommunity for viewing.
            Project is intended to empower people with the knowledge on how to build a device oftheir own with a compiled list of hardware that is known to work.
            It encourages people to engagein the process of “making” rather than purchasing a pre-build sensor at a marked-up, retailevaluated price.
            Project is intended to have a finer resolution for tracking AQI than pre-existing platforms.This is done with the goal to pinpoint smaller-scale areas of interest, such as local parks andmajor city intersections, and evaluate the AQI of these areas.
        </p>
    </div>
</div>

<div>
    <div style="color: grey; font-size: 30px;">
        Legal Statement
    </div>
    <div class="card-body">
        <p class="card-text" style="color: grey; ">
            Project is open-source, compiled as a guide that is free to access and others are free tocontribute towards future iterations.
            If the project is built upon by other contributors, theresponsibility with ensuring the project still works towards the users intentions falls solely andexclusively on the user.
            Project data input requires uploading of personal data that includes GPS location andtime-of-recording.
            Users who choose to create their own device to be used on the platformacknowledge that they are both aware of this prior to assembling their own device, and aware ofthis prior to uploading their own collected data to the platform.
            Project data output, including data-tables, visualization graphics, and color-led indicators,are not intended to be used as a source or substitute for medical or health advice.Instructional guide for assembling sensor, not at fault for any unintended results orconsequences in the assembly process.
            This includes faulty hardware, damage incurred to sensorhardware in assembly process, damage incurred to tools or other external devices used in theassembly process, personal injury incurred to self or others in assembly process.
            If any injury or trauma is caused to self or others or any damage to property due to orduring use of any part of the project, including the sensor device or the website, all responsibilitylies with the user.
            Responsibility for any form of malicious use of the project data and/or device ,orunintentional misuse of the same, falls solely and exclusively on that user.
        </p>
    </div>
</div>