
@{
    ViewData["Title"] = "Upload";
}

<!-- DEPRECATED -->

<div class="d-flex justify-content-center">
    <span class="display-4" style="font-size: 90px; color: lightgray; margin-right: 20px;">Upload </span>
    <span class="display-4" style="        font-size: 90px;
        color: grey;"> Sensor Data</span>
</div>
<br />

<div style="height: 100px;"></div>

<form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="Index">
    <div class="form-group">
        <div class="d-flex justify-content-center">
            <label for="uploadPrompt" class="uploadlabel" id="uploadLabel">Select Raw Data File</label>
            <input type="file" id="uploadPrompt" name="files" style="display: none;" />
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div id="file-upload-filename" class="display-4" style="font-size: 60px; color: grey;"></div>
    </div>

    <div class="form-group">
        <div class="d-flex justify-content-center">
            <label for="submitButton" class="submitButton" id ="submitLabel" style="display: none;">Begin Upload</label>
            <input type="submit" id="submitButton" value="Upload" style="display: none;" />
        </div>
    </div>
</form>

<script>
    var input = document.getElementById('uploadPrompt');
    var infoArea = document.getElementById('file-upload-filename');

    input.addEventListener('change', showFileName);

    function showFileName(event) {

        var submitButton = document.getElementById('submitLabel');
        submitButton.style.display = 'block';
        var uploadLabel = document.getElementById('uploadLabel');
        uploadLabel.style.display = 'none';

        var input = event.srcElement;
        var fileName = input.files[0].name;
        infoArea.textContent = "You've selected: " + fileName;
    }
</script>

<style>
    .uploadlabel {
	    background-color:#7d7f80;
	    border:1px solid #000000;
	    display:inline-block;
	    cursor:pointer;
	    color:#ffffff;
	    font-size:15px;
	    padding:32px 63px;
	    text-decoration:none;
	    margin-top: 20px;
	    margin-bottom: 50px;
    }
    .uploadlabel:hover {
	    background-color:#828f9c;
    }
    .uploadlabel:active {
	    position:relative;
	    top:1px;
    }

    .submitButton {
        background-color: #7d7f80;
        border: 1px solid #000000;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-size: 15px;
        padding: 16px 31px;
        text-decoration: none;
        margin-top: 20px;
    }
    .submitButton:hover {
	background-color:#828f9c;
    }
    .submitButton:active {
	position:relative;
	top:1px;
    }

</style>
